@using RestaurantSite.Models
@model IEnumerable<Beverage>

@{
    ViewBag.Title = "BevCategory";
}

<!--
    File: BevCategory.cshtml
    Author: Lucy Kang
    Website: Le Comptoir Restaurant & Bar
    Description: This page displays the kinds of beverage such as Wine, Beer, Soft Drink and etc.
-->

<h2>Beverage</h2><hr />
<div class="row text-center">
    @foreach (var item in Model)
    {
        <div class="col-md-3">
            <h3>
                @Html.ActionLink(item.Name, "BrowseBeverage", new { id = item.BeverageID })
            </h3>
        </div>
    }
</div>
<div class="row text-center">
    <img src="~/Assets/restaurant2.jpg" class="img-responsive bev-category"/>
</div>
