@using RestaurantSite.Models
@model IEnumerable<Beverage>

@{
    ViewBag.Title = "BevCategory";
}

<h2>Beverage</h2>
<ul>
    @foreach (var item in Model)
    {
        <li>
            @Html.ActionLink(item.Name, "BrowseBeverage", new { id = item.BeverageID })
        </li>
    }
</ul>