@using RestaurantSite.Models
@model IEnumerable<Food>

@{
    ViewBag.Title = "FoodCategory";
}

<h2>Food Category</h2>
<div class="row text-center">
    @foreach (var item in Model)
    {
        <div class="col-md-4">
            <h3>
                @Html.ActionLink(item.Name, "BrowseFood", new { id = item.FoodID })
            </h3>
        </div>
    }
</div>
<div class="row text-center">
    <img src="~/Assets/food1.jpeg" class="img-responsive food-category"/>
</div>