@using RestaurantSite.Models
@model IEnumerable<Food>

@{
    ViewBag.Title = "FoodCategory";
}

<h2>Food Category: @Model.Count()</h2>
<ul>
    @foreach (var item in Model)
    {
        <li>
            @Html.ActionLink(item.Name, "BrowseFood", new { id = item.FoodID })
        </li>
    }
</ul>