@using RestaurantSite.Models
@model IEnumerable<Food>

@{
    ViewBag.Title = "FoodCategory";
}
<!--
    File: FoodCategory.cshtml
    Author: Lucy Kang
    Website: Le Comptoir Restaurant & Bar
    Description: This page displays food categories such as entree, main and dessert.
-->

<h2>Food</h2><hr />
<div class="row text-center">
    @foreach (var item in Model)
    {
        <div class="col-md-4">
            <h3>
                @Html.ActionLink(item.Name, "BrowseFood", new { id = item.FoodID })
            </h3>
        </div>
    }
</div>
<div class="row text-center">
    <img src="~/Assets/table.jpg" class="img-responsive food-category"/>
</div>