@{
    ViewBag.Title = "Index";
}
<!--
    File: Index.cshtml
    Author: Lucy Kang
    Website: Le Comptoir Restaurant & Bar
    Description: This page displays food and beverage option
-->

<h2>MENU</h2>
<p class="text-center">We are using premium quality ingredients to deliver the best experience.</p>
<div class="row text-center">
    <div class="col-md-5 col-lg-6 food-left">
        <h3>Food</h3>
        <br/>
        <a href="/Menu/FoodCategory"><img class="img-responsive" src="~/Assets/restaurant1.jpg" /></a>
    </div>
    <div class="col-md-5 col-lg-6">
        <h3>Beverage</h3>
        <br />
        <a href="/Menu/BevCategory"><img class="img-responsive" src="~/Assets/wine1.jpg" /></a>
    </div>
</div>