/***************************************/
/*              Custom CSS             */
/***************************************/

/* font family */
@import url(http://fonts.googleapis.com/css?family=Bentham);
@import url(http://fonts.googleapis.com/css?family=Raleway);


/***************************************/
/*              Site-wide              */
/***************************************/
html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    padding-top: 100px;
    padding-bottom: 20px;
    font-family: 'Raleway';
}

.body-content {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 30px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input, select, textarea {
    max-width: 280px;
}

.navbar {
    top: 0;
    position: absolute;
    margin-bottom: 20px;
    margin-top: 20px;
    font-family: 'Bentham';
    font-size: 20px;
}

a{
    color: darkslateblue;
}

.navbar-brand > img {
    height: 50px;
    margin-top: -15px;
}

h1, h2, h3 {
    font-family: 'Bentham';
}

h2 {
    text-align: center;
    color: darkslateblue; 
}
.navbar-toggle {
    background-color: darkslateblue;
}

.icon-bar, .navbar-collapse{
    background-color: white;
}

.btn-default{
    color: darkslateblue;
}

.btn-default:hover{
    background-color: darkslateblue;
    color: white;
}

.back-row{
    margin-top: 80px;
}

/***************************************/
/*              Menu Pages             */
/***************************************/
@media only screen and (max-width: 991px){
    .back-row{
    margin-top: 20px;
    }
}

@media only screen and (min-width: 992px) and (max-width:1199px){
    .food-left{
        margin-left: 60px;
    }
    .food-category{
        margin-left: 100px;
    }
    .bev-category {
        margin-left: 85px;
    }
}

@media only screen and (min-width: 1200px) {
    .food-category{
        margin-left: 220px;
    }
    .bev-category{
        margin-left: 180px;
    }
}

.food-category, .bev-category {
    margin-top: 20px;
}

/***************************************/
/*            Contact Page             */
/***************************************/
.contact-contents{
    margin-top: 50px;
}

.sns-links {
    padding-top: 5px;
    padding-bottom: 30px;
}

.sns-links > a {
    padding-right: 20px;
}

/***************************************/
/*                Footer               */
/***************************************/
.footer {
  position: absolute;
  display: inline-block;
  bottom: 0;
  width:75%;
  height: 60px;
  font-family: 'Bentham';
  font-size: 16px;
}

.pull-right{
    right: 0;
    position: relative;
}

.padding-left-right {
    padding-left: 10px;
}